/*
  Table of contents
  -----------------
  01. Navbar
  02. Section - Home
    - Home BG Parallax
  03. Countdown
  04. Intro
  05. Section - Team
  06. Section - Speakers
  07. Section - Venue
  08. Section - Schedule
    - Carousel Schedule
    - Timeline
  09. Milestones
  10. Section - FAQ
    - Accordions
    - Nav Stacked
  11. Section - Ticket
    - Testimonial
    - Pricing
  12. Section - Register
  13. Section - Contact
    - Google map
    - Forms
  14. Event bottom banner
  15. Countdown timer
  16. Footer
  17. Responsive images
  18. Features box
*/

@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,700);
@import url(https://fonts.googleapis.com/css?family=Catamaran:400,700,900);

@font-face {
  font-family: 'Bebas Neue';
  src: url('fonts/BebasNeue-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Bebas Neue Book';
  src: url('fonts/BebasNeue-Book.ttf') format('truetype');
}

body {
  color: #000;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  line-height: 23px;
  overflow-x: hidden;
}

body,
html {
  height: 100%;
}

p {
  font-size: 16px;
}

@media (min-width: 992px) {
  section {
    height: 100%;
  }
}

.font-family-alt {
  font-family: "Catamaran", sans-serif;
}

.roboto {
  font-family: "Roboto", sans-serif;
}

.bebas {
  font-family: 'Bebas Neue', cursive;
}

.bebas-book {
  font-family: 'Bebas Neue Book', cursive;
}

.text-justify {
  text-align: justify;
}

.text-large {
  font-size: 70px;
  letter-spacing: 2px;
}

@media (min-width: 992px) {
  .text-large {
    font-size: 120px;
    letter-spacing: 2px;
  }
}

/*
  Navbar
  ------
*/

.navbar {
  background-color: black;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
  font-family: "Catamaran", sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
}

.nav-link:hover {
  color: #e62b1e;
}

.nav-btn {
  border-color: #e62b1e !important;
  background-color: #e62b1e;
  color: white;
}

.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

/*
  Section - Home
  --------------
*/

.arrow-down:hover {
  color: #e62b1e;
}

.text-testimonial {
  font-size: 15px;
}

.separator-line {
  background-color: #e62b1e;
  height: 8px;
  width: 100px;
}

.arrow-down {
  color: gray;
}

.bg-section {
  background-image: url("../images/space_bg.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* Home BG Parallax */

.bg-parallax {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/bg-parallax.jpg");
  /* background: url("../images/bg-parallax.jpg"); */
  height: 50%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

/*
  Countdown
  ---------
*/

.countdown {
  -webkit-box-shadow: 5px 5px 30px 0px rgba(0, 0, 0, 0.03);
  -moz-box-shadow: 5px 5px 30px 0px rgba(0, 0, 0, 0.03);
  box-shadow: 5px 5px 30px 0px rgba(0, 0, 0, 0.03);
  top: -35px;
  z-index: 20;
}
.countdown .clock {
  height: 70px;
  text-align: center;
}
@media (min-width: 992px) {
  .countdown .clock {
    height: 88px;
    text-align: right;
  }
}
.countdown .clock-item {
  color: #ffffff;
  font-family: "Catamaran", sans-serif;
  border-radius: 2px;
  display: inline-block;
  height: 100%;
  letter-spacing: 1px;
  margin-right: 5px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  width: 60px;
}
.countdown .clock-item:last-child {
  margin-right: 0;
}
@media (min-width: 992px) {
  .countdown .clock-item {
    margin-right: 7px;
    width: 75px;
  }
}

/*
  Section - Teams
  --------------
*/

.member-box {
  margin-bottom: 24px;
}

.card {
  width: 18rem;
  margin: 15px;
  border-color: #e62b1e;
  border-width: 2px;
  font-family: "Catamaran", sans-serif;
}

.card ul {
  padding: 10px;
}

/*
  Countdown timer
  ---------------
*/

.countdown-timer {
  display: flex;
  justify-content: center;
}
.countdown-timer div {
  display: flex;
  flex-direction: column;
  padding-left: 2%;
  padding-right: 2%;
}
.countdown-timer .value {
  font-family: Roboto, sans-serif;
  font-size: 36px;
  font-weight: 800;
  color: white;
  align-self: center;
}
.countdown-timer .label {
  font-family: Catamaran, sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.75);
  padding-top: 8px;
  align-self: center;
}
@media (min-width: 420px) {
  .countdown-timer .value {
    font-size: 48px;
  }
  .countdown-timer .label {
    padding-top: 16px;
  }
}
@media (min-width: 600px) {
  .countdown-timer .value {
    font-size: 56px;
  }
  .countdown-timer .label {
    font-size: 18px;
  }
}
@media (min-width: 900px) {
  .countdown-timer .value {
    font-size: 64px;
  }
  .countdown-timer .label {
    padding-top: 24px;
  }
}

/*
  Footer
  ------
*/

.footer {
  padding: 50px 0 32px;
}
.footer-logo {
  padding-bottom: 25px;
  width: 250px;
}

.footer .disclaimer {
  font-size: 14px;
}
.footer-social {
  color: gray;
}

.footer-social:hover {
  color: #e62b1e;
}

.footer-copyright {
  padding-top: 32px;
}